@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Single+Day&display=swap');

.App {
  font-family: 'GmarketSansMedium';
}

h1 {
  text-align: center;
  padding-top: 50px;
}

.back {
  width: 100%;
}

.header a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 5px 10px
}

.header a:hover {
  color: #E2E2E2;
}
